<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {%- include meta.html -%}
	<link rel="icon" href="{{ site.baseurl }}/favicon.ico" />
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
    {%- seo -%}
  </head>
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar">🎮</a>
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          <nav>
	  <form method="GET" action="https://www.gameich.com/search" class="search-form">
	    <input type="text" name="q" class="search-query" placeholder="Type to search...">
	    <input type="submit" class="search-btn" value="🔍">
	  </form>
          </nav>
        </header>
      </div>
    </div>
    <div id="main" role="main" class="container">
	  {%- if page.path contains '_posts' -%}
	  <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ site.baseurl }}/" rel="home">
				<span itemprop="name">Gameich</span>
				<meta itemprop="position" content="1" />
			</a>
		  </li>
		{%- assign positionNumber = 2 -%}
		{%- for tag in site.commonTags -%}
		  {%- if page.tags contains tag -%}
		 <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="{{ site.baseurl }}/tag/{{tag}}">
				<span itemprop='name'>{{tag | replace: "-", " "}}</span>
				<meta itemprop="position" content="{{ positionNumber }}" />
			</a>
		  </li>
		  {%- assign positionNumber = positionNumber | plus: 1 -%}
		  {%- endif -%}
		{%- endfor -%}
		  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<span itemprop='name'>{{ page.title }}</span>
			<meta itemprop="position" content="{{ positionNumber }}" />
		  </li>
		  <meta name="numberOfItems" content="{{ positionNumber }}" />
		  <meta name="itemListOrder" content="Ascending" />
	  </ul>
	  {%- endif -%}
	  {{ content }}
    </div> 
    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
		  <p>
			<br><a href="{{ site.baseurl }}/" rel="home">{{ site.name }}</a> © {{ site.time | date : "%Y" }} - All rights reserved.
		        <br/><a href="https://www.xiaomist.com">Xiaomi</a> | <a href="https://www.parentconcerns.com" target="_blank">Parent Concerns</a> | <a href="https://www.gameich.com" target="_blank">Gameich</a>
		  </p>
        </footer>
      </div>
    </div>
    {%- include analytics.html -%}
  </body>
</html>
